appdirs>=1.4.4
asgiref>=3.3.1
astroid>=2.4.2
certifi>=2020.12.5
chardet>=3.0.4
click>=6.7
distlib>=0.3.1
Django>=3.1.7
django-cors-headers>=3.7.0
djangorestframework>=3.12.4
filelock>=3.0.12
Flask>=1.1.2
idna>=2.7
isort>=5.7.0
itsdangerous>=0.24
Jinja2>=2.11.3
lazy-object-proxy>=1.4.3
MarkupSafe>=0.23
mccabe>=0.6.1
plaid-python>=5.0.0
pylint>=2.6.0
PyPDF2>=1.26.0
python-dotenv>=0.14.0
pytz>=2021.1
requests>=2.20.0
six>=1.15.0
sqlparse>=0.4.1
toml>=0.10.2
urllib3>=1.24.3
virtualenv>=20.4.2
Werkzeug>=1.0.1
wrapt>=1.12.1